<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Guitar32.Properties.Settings.dbtechbyteConnectionString"
            connectionString="server=127.0.0.1;User Id=techbyte;password=techbyte;Persist Security Info=True;database=dbtechbyte"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>